{{extend 'layout.html'}}
{{extend 'layout.html'}}
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>

<table style="width:100%">
    <tr>
        <strong>
            <th>Resource Id</th>
            <th>Resource Type</th>
            <th>Category</th>
            <th>Resource Qty</th>
            <th>Resource Owner</th>
        </strong>
    </tr>

        {{for specification in row:}}
    <tr>
        <td>{{=specification.resources_id}}</td>
        <td>{{=specification.resources_type}}</td>
        <td>{{=specification.resources_qty}}</td>
        <td>{{=specification.resource_owner.username}}</td>
    </tr>
        {{pass}}
</table>

<h2>Delete resource</h2>
<form enctype="multipart/form-data" action="{{=URL('welcome', 'default', 'delete_resource', args = user_id)}}" method="post">
    Resource Id: <input name="resources_id" />
                 <input type="submit" />
</form>
 <p />
