<!DOCTYPE html>
<html>
<head>
	<title>
		Clone...
	</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap.css">
	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.css">
	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="stylesheet" href="home/junhong/bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">

	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<style>
		td{
			padding: 5px;
		}
	</style>

	</head>

	<body>

	<div class="row" style="background-color: #000; height: 100px;">
		
	<div class="col-md-6" style="height: 100px; background-color: white;">
	    <h2 class="form-signin-heading">HelpMeHelpYou</h2>
	    	
	<img src="https://raw.githubusercontent.com/jajkelle/HelpMeHelpYou/jade/static/images/Logo.png" style="width: 125px; height: 60px; margin-left: 100px; margin-top: 20px;" HelpMeHelpYou />
	</div>


	<div class="col-md-6" style="height: 100px; background-color: white;">

	<div class="row">
	<div class="col-4">

	<p style="color: black;">Email</p>
	<input type="text" /> <br>
	<span style="color: black;"><input type="checkbox" />Keep Me Log In</span>
				
	</div>

	<div class="col-4" style="margin-left: 20px;">

	<p style="color: black;">Password</p>
	<input type="password" /> <br>

	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					
	</div>


		
	</div>

	</div>

	</div>

	<div class="row" style="background-color: white; height: 900px">
	<div class="col-md-7" style="background-color: rgb(227, 229, 241); height:1000px">
		
		<img src="https://raw.githubusercontent.com/jajkelle/HelpMeHelpYou/jade/static/images/pool_of_resources.png" style="width: 40%; height: 500px; margin-top: 200px">

		<img src="https://raw.githubusercontent.com/jajkelle/HelpMeHelpYou/jade/static/images/empty_pool.png" style="width: 40%; height: 500px; margin-top: 100px">

	</div>

	<div class="col-md-5" style="height:900px;background-color:rgb(227.229.241)" >
		<h1>Welcome to HelpMeHelpYou! Please create an account.</h1>
		<form style="margin:0 auto;width: 90%;">

		<table>
			<tr>
			<td style="width: 50%">
				<input type="text" placeholder="First Name" class="form-control">
			</td>
			<td style="width: 50%">
				<input type="text" placeholder="Last Name" class="form-control">
			</td>
			</tr>

			<tr><td colspan="2"><input type="text" placeholder="Email" class="form-control"></td></tr>
			<tr><td colspan="2"><input type="password" placeholder="Password" class="form-control"></td></tr>
			<tr><td><input type="password" placeholder="yy-mm-dd" class="form-control"></td></tr>

			<tr><td>
			<span style="font-size: 14px; color: #06F"><input type="radio"> Male</span>
			<span style="font-size: 14px; color: #06F"><input type="radio"> Female</span>
			</td>
			</tr>

			<tr><td><button class="btn btn-lg btn-success">Create an account</button></td></tr>

		</table>



		</form>	
	</div>
		

	</div>
	

</body>
</html>