{{extend 'layout.html'}}
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>
 <h2>
    Users
</h2>
 <table style="width:30%">
    <tr>
        <strong>
            <th>User Username</th>
            <th>User First Name</th>
            <th>User Last Name</th>
        </strong>
    </tr>
         {{for specification in row:}}
    <tr>
        <td>{{=A(specification.username,_href=URL('list_resources',args=specification.id))}}</td>
        <td>{{=specification.first_name}}</td>
        <td>{{=specification.last_name}}</td>
    </tr>
        {{pass}}
</table>
